* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 18px;
    scroll-behavior: smooth;
    height: 100%;
    font-family: "Times New Roman", Times, serif;
}

/* Header section */
header {
    min-height: 8vh;
    background-color: #000000;
    transition: 0.3s ease background-color;
}
.Navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}
.logo h1 {
    font-size: 2.3rem;
    text-transform: uppercase;
}
.logo h1 span {
    display: block;
    height: 60px;
    width: 60px;
    line-height: 60px;

    -moz-border-radius: 50%;
    border-radius: 50%;

    background-color: #ffffff;
    color: #02735E;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    float: left;
}

ul li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ffffff;
    color: #4d4d4d;
}

.active {
    background-color: #4d4d4d;
}
/* End Header section */

/* Home Section */
body{
    background: linear-gradient(to right bottom,#02735E,#736002);
    height: auto;
}


#home::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    opacity: 0.7;
    z-index: -1;
}
#home h1 {
    padding-top: 20px;
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 1s;
}
#home h1:nth-child(1) {
    animation-delay: 1s;
}
#home h1:nth-child(2) {
    animation-delay: 2s;
}
#home h1:nth-child(3) {
    animation: text_reveal_name 0.5s ease forwards;
    animation-delay: 3s;
}
#home h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #ffffff;
    animation: text_reveal_box 1s ease;
    animation-delay: 0.5s;
}
#home h1:nth-child(1) span {
    animation-delay: 0.5s;
}
#home h1:nth-child(2) span {
    animation-delay: 1.5s;
}
/* End Home Section */

/* Footer */
footer {
    min-height: 100px;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #734002;
}
.footerBox {
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer .logo {
    text-align: center;
}
footer .logo h2 {
    -webkit-text-stroke: 0.3px black;
    color: #02735e;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
footer .logo p {
    color: #ffffff;
    font-size: 1.3rem;
}
/* End Footer */

/* Keyframes */
@keyframes navLinesPulse {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.4);
    }
}
@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal {
    100% {
        color: #47060b;
    }
}
@keyframes text_reveal_name {
    100% {
        color: rgb(0, 0, 0);
        font-weight: 500;
    }
}
/* End Keyframes */


/* Contact Section */
#contact .container h1 {
    text-align: center;
    padding-top: 5px;
}
#contact .container label {
    font-size: 20px;
}
#contact input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 8px;
    resize: vertical
}
#contact input[type=number], select, textarea {
    font-size: 10px;
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 8px;
    resize: vertical
}
#contact input[type=email], select, textarea {
    font-size: 10px;
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 8px;
    resize: vertical
}
#contact input[type=submit] {
    font-size: 10px;
    background-color: #23472c;
    color: #47060b;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    left: 47%;
}
#contact input[type=submit]:hover {
    background-color: #ffffff;
}
#contact .container {
    background: #23472c;
    background: -moz-linear-gradient(top, #23472c 0%, #4d4d4d 100%);
    background: -webkit-linear-gradient(top, #23472c 0%, #4d4d4d 100%);
    background: -o-linear-gradient(top, #23472c 0%, #4d4d4d 100%);
    background: linear-gradient(to bottom, #23472c 0%, #4d4d4d 100%);
    border-radius: 5px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
#contact::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}
/* End Contact Section */

/* About Section */
.section-A{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding-top: 10%;
    padding-bottom: 5%;
    background-position: center;
}

.About-box {
    width: 300px;
    height: fit-content;
    border: 15px solid #734002;
    background: #02735E;
    display: inline-block;
}

.About-box article {
    text-align: center;
}

.About-box img {
    width: 50%;
    height: 150px;
    margin-left: 80px;
    border-radius: 30%;
    border: 1px solid #02735E;
    object-fit: fill;
}

.video-player{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}
.video-player video{
    border: 5px solid #734002;
}
/* End About Section */

/* Projects Section */
.Project-page{
    align-items: center;
    justify-content: center;
    width:100%;
    height:100%;
    margin-top: 5%;
    margin-bottom: 15%;
    background-position: center;
}

.Project-page h1{
    margin-top: 8%;
    margin-bottom: 2.5%;
    text-align: center;
    font-size: 64px;
    color: #000000;
}

.Projects{
    align-content: center;
    background-position: center;
    width: 100%;
    height: 100vh;
    text-align: center;
    align-items: center;
    border: solid 1px #ffffff;
    box-sizing: border-box;
    margin-bottom: 5%;
}

.Projects img{
    border: solid 3px #02735E;
    display: flex;
    height: 200px;
    margin-left: 30%;
    width: 40%;
    padding-top: 2.5%;
    object-fit: contain;
    border-radius: 15%;
}

.Projects article a{
    text-decoration: none;
    text-underline: none;
}
/*End Project Section*/

